In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
        "Rob": "rob@gmail.com", "Wes": np.nan}
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': nan}

In [7]:
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [9]:
data[data.isnull()]

Wes    NaN
dtype: object

In [34]:
def c(x):
    if  pd.isna(x):
        return False
    elif'gmail' in x:
        return True
    else:
        return False
    
data.map(c)

Dave     False
Steve     True
Rob       True
Wes      False
dtype: bool

In [74]:
a = data.str.split('@')

In [75]:
a

Dave     [dave, google.com]
Steve    [steve, gmail.com]
Rob        [rob, gmail.com]
Wes                     NaN
dtype: object

In [77]:
a['Dave'].append(10)

In [92]:
s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: object

In [91]:
s = pd.Series(['a','b','c','d'] * 2)
s1 = s.astype('category')
s1

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [94]:
s1.cat.set_categories(['a','b','c','d','e'])

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']